* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.App h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: black;
}
p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.pt{
  text-align: center;
  font-size: 30px;
}
.template {
  width: 32%;
  display: inline-block;
  margin-left: 150px;
  margin-bottom: 80px;
}
::placeholder {
  color: black;
  opacity: 0.7;
}
input,
select,
textarea {
  color: black;
  font-family: "Poppins", sans-serif;
}
.template .image {
  width: 100%;
  height: 400px;
  border: 1px solid;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.meme {
  text-align: center;
}
.meme img {
  width: auto;
  height: 400px;
  border: 1px solid;
}
.template:hover {
  opacity: 1;
}

.meme input {
  margin: 20px 10px;
  padding: 5px;
  height: 40px;
  width: 180px;
  background: rgb(230, 230, 230);
  border: none;
}
.meme input:focus {
  background: #fff;
  color: black;
  outline: none !important;
  background-color: rgb(230, 230, 230);
  border-color: black;
}
.meme input:hover {
  border-color: black;
}

.meme button {
  font-family: "Poppins", sans-serif;
  margin-left: 70px;
  margin-top: 20px;
  padding: 5px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  background-color: #f1f1f1;
  color: black;
}
.meme button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 767px) {
  .template {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .template {
    width: 100%;
  }
}
