@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background: url(morning-wallpaper-10.jpg);
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.quotecont {
  display: flex;
  background-color: transparent;
  min-height: 100px;
  max-height: auto;
  width: 700px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 70px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.head {
  font-size: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.quote {
  height: auto;
  width: 550px;
  background-color: transparent;
  /* border: solid 1px black; */
  font-size: 35px;
  color: rgb(14, 14, 14);
  text-align: justify;
}

.auth {
  height: 100px;
  width: 500px;
  background-color: rgba(18, 102, 211, 0);
  text-align: right;
  font-size: 25px;
  padding-top: 10px;
}

.btn {
  height: 60px;
  width: 100px;
  font-size: 25px;
  margin-bottom: 50px;
  border: solid 3px rgb(255, 255, 255);
  transition: 300ms;
  border-radius: 30px;
  cursor: pointer;
}
.btn:hover {
  width: 150px;
  border: 2px solid black;
}
.btn-gen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 280px;
  margin-left: 550px;
}
